.breadcrumb {
	padding-left: 0;
	padding-right: 0;
	background-color: white;
	@include get_textstyle("sm", "regular");
}
/*! This comment will be included even in compressed mode. */
#navbar-breadcrumbs {
	flex-direction: row;
	margin-left: var(--margin-md);
	@include get_textstyle("3xl", "regular");
	a {
		margin-right: 10px;
	}
	span{
		vertical-align: text-bottom;
	}
	li{
		&:first-of-type{
			align-content: end;
		}
		&:not(:first-of-type):before {
			content: #{"/*!rtl:var(--left-arrow-svg);*/"}var(--right-arrow-svg);
			display: inline-block;
			margin-right: 10px;
			vertical-align: text-bottom;
		}
	}

	li.disabled {
		a {
			color: var(--gray-600);
			pointer-events: none;
		}
	}
	// @media (max-width: 1280px) {
	// 	max-width: 300px;
	// }
}
