.page-title {
	display: flex;
	align-items: center;

	.sidebar-toggle-btn {
		display: flex;
		margin-right: var(--margin-sm);
		cursor: pointer;
		--icon-stroke: var(--gray-700);

		.sidebar-toggle-icon {
			display: none;
		}

		.sidebar-toggle-icon,
		.sidebar-toggle-placeholder {
			@include transition(all 0.5s ease-in-out);
		}

		&:hover {
			.sidebar-toggle-icon {
				display: block;
			}

			.sidebar-toggle-placeholder {
				display: none;
			}
		}
	}

	.title-area {
		display: inline-flex;
		align-items: center;

		.title-text {
			@include get_textstyle("2xl", "bold");
			cursor: pointer;
			margin-bottom: 0px;
			margin-right: var(--margin-sm);
			max-width: 48vw;
		}

		.indicator-pill {
			margin-top: 2px;
		}

		.sub-heading {
			@include get_textstyle("sm", "regular");
		}
	}
}

.page-container {
	padding: 0 15px;
	background-color: var(--redisign-neutral-lightest-default, #F5F6FF);

	.page-body.full-width {
		width: 100%;
		max-width: 100%;
	}
}

.page-actions {
	align-items: center;

	.btn {
		height: var(--btn-height);
		margin-left: var(--margin-sm, 8px);
		border-radius: var(--border-radius);
		line-height: 1;
		padding: 4px 8px;

		&,
		& .hidden-xs {
			display: inline-flex;
			align-items: center;
			gap: 6px;
		}
	}

	.btn:not(.icon-btn) {
		padding: 4px 8px;
	}

	.btn-primary,
	.btn-secondary {
		min-width: 40px;
	}

	.custom-btn-group {
		display: inline-flex;
	}

	.custom-actions {
		display: flex;
		align-items: center;
	}
}
.layout-page-container{
	background-color: var(--neutral, #ffffff);
	border-radius: 20px;
}

.layout-main-section-wrapper {
	min-width: 0;
	border-radius: 0 0 1.5rem 1.5rem;
	background: var(--redisign-general-bg, #B7B9CC);
	padding: 1.5rem;
}

.layout-page-side-section-wrap{
	max-width: fit-content;
}

.layout-side-section-wrap,
.layout-page-side-section-wrap{
	position: relative;
	display: flex;
	max-height: -webkit-fill-available;

	.layout-side-section,
	.layout-page-side-section {
		padding-left: 15px;
	}
	.layout-page-side-section {
		background-color: var(--neutral);
		border-radius: 16px;
		box-shadow:0px 0px 25.4px 0px rgba(16, 21, 66, 0.19);
		padding: 16px;
		height: fit-content;
	}
	
	.sidebar-toggle-btn-internal {
		position: absolute;
		top: 2rem;
		right: 0;
		transform: translate(50%, 50%);
		box-shadow: -1px 1px 10.9px 0px rgba(54, 60, 89, 0.08);
		background: var(--redisign-neutral-ultra-light-default, #FBFBFE);

		@media (max-width:991.5px) {
			right: unset;
			left: 0;
			transform: translate(25%, 25%);
			top: calc(var(--page-head-height) * -1);
		}
	}
}

.layout-main-section.frappe-card {
	overflow: hidden;
	@include card($padding: 0px);
	// box-shadow: none;
	// border: 1px solid var(--border-color);
	border-radius: 1.25rem;
	background: var(--neutral-white, #FFF);
	box-shadow: 0px 0px 25.4px 0px rgba(16, 21, 66, 0.19);
}

.page-head {
	z-index: 6;
	position: sticky;
	top: var(--navbar-height);
	// background: var(--bg-color);
	background-color: var(--redisign-neutral-lightest-default, #F5F6FF);
	// margin-bottom: 5px;
	transition: 0.5s top;


	.page-head-content,
	.layout-page-side-head {

		.page-title,
		.page-actions {
			height: var(--page-head-height);
		}

		.page-actions {
			border-top-left-radius: 1.5rem;
			border-top-right-radius: 1.5rem;
			background: var(--redisign-general-bg, #B7B9CC);
		}

		// padding: 8px 0px;
	}
}

.layout-page-side-head{
	padding: 24px 24px 16px 24px;
}

.page-form {
	margin: 0;
	padding: var(--padding-sm);
	display: flex;
	flex-wrap: wrap;
	background-color: var(--card-bg);
	border-bottom: 1px solid var(--border-color);

	.form-group {
		padding: 0px 5px;
		margin: 5px 0px;
	}

	.checkbox {
		margin-top: 4px;
		margin-bottom: 4px;

		.help-box {
			display: none;
		}
	}

	.awesomplete>ul {
		min-width: 300px;
	}
}

.form-inner-toolbar {
	.inner-group-button {
		display: inline-flex;

		.icon {
			margin-right: -var(--margin-xs);
		}
	}

	button {
		margin-left: var(--margin-sm);
	}
}

.menu-btn-group,
.custom-btn-group,
.page-icon-group {
	display: flex;

	.dropdown-menu {
		width: max-content;
	}

	.menu-item-label {
		margin-right: var(--margin-md);
	}

	.menu-item-icon {
		margin-right: var(--margin-sm);
	}
}
.red{
	background-color: red !important;
}
.layout-main-section {
	margin-right: 24px;
	margin-left: var(--margin-lg);
	width: -webkit-fill-available;
	.frappe-list,
	.report-wrapper {
		padding: 0 var(--padding-xs);

		.result,
		.no-result,
		.freeze {
			min-height: #{"calc(100vh - 284px)"};
		}
	}

	.msg-box {
		margin-bottom: 4em;
		@include get_textstyle("sm", "regular");

		// To compensate for perceived centering
		.null-state {
			height: 60px;
			width: auto;
			margin-bottom: var(--margin-md);

			img {
				fill: var(--fg-color);
			}
		}

		p {
			@include get_textstyle("base", "regular");
		}

		.meta-description {
			width: 45%;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.page-only-label {
	margin-top: var(--margin-xs);
	text-align: center;
}

@media screen and (max-width: 768px) {
	.doctype-form-builder-container{
		flex-direction: column;
	}
}