.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	border: none;

	&:not(.btn-md):not(.btn-lg) {
		padding: 4px 8px;
	}

	border-radius: var(--border-radius);
	box-shadow: none;
	@include get_textstyle("base", "regular");

	&:active {
		// override #dadada that comes from bootstrap (probably) to support dark theme.
		color: var(--text-color) !important;
		background-color: var(--redisign-neutral-lightest-active, #EEEFFC) !important;
		box-shadow: var(--focus-default) !important;
	}

	&.icon-btn {
		height: var(--btn-height);
		padding: 0px;
		@extend .center-content;

		&.btn-default,
		&.btn-secondary {
			min-width: 28px;
		}
	}
}

@mixin redesign-button-light() {
	background: var(--neutral-white, #FFF);
	border: 1px solid var(--redisign-neutral-light-default, #DBDFFF);

	color: var(--redisign-neutral-darker-default, #5C5E75);

	&:active,
	&:hover {
		color: var(--redisign-neutral-darker-active, #4E5068);
		// background: 1px solid var(--redisign-neutral-light-default, #DBDFFF);
	}
}

.btn-secondary-dark {
	@include button-variant($background: $gray-600,
		$border: $gray-600,
		$hover-background: lighten($gray-600, 1%),
		$hover-border: $gray-600,
		$active-background: lighten($gray-600, 1%),
		$active-border: darken($gray-600, 12.5%));

	color: $white;

	&:hover,
	&:active,
	&:focus {
		color: $white;
	}

	.icon {
		--icon-stroke: currentColor;
	}
}

.btn-primary-light {
	@include button-variant( // not happy with this
		$background: $gray-300,
		$border: $gray-800,
		$hover-background: $gray-200,
		$hover-border: $gray-300,
		$active-background: $gray-300,
		$active-border: $gray-200);
	@include redesign-button-light();

	&:hover,
	&:active {
		color: var(--primary);
	}

	&:focus {
		box-shadow: var(--focus-default);
	}
}

.btn.btn-secondary {
	background-color: transparent;
	color: var(--redisign-primary-default, #638DFF);

	&:hover,
	&:active {
		// background-color: var(--btn-default-hover-bg);
		color: var(--redisign-primary-focus, #5883F6);
	}
}

.btn.btn-default,
div#driver-popover-item .driver-popover-footer button.btn-default,
.btn.btn-default {

	// background-color: var(--control-bg);
	// color: var(--text-color);

	// &:hover,
	// &:active {
	// 	background: var(--btn-default-hover-bg);
	// 	color: var(--text-color);
	// }

	@include redesign-button-light();

}

.btn.btn-primary {
	background-color: var(--redisign-primary-default, #638DFF);
	color: var(--neutral);
	white-space: nowrap;
	--icon-stroke: currentColor;
	--icon-fill-bg: var(--redisign-primary-default, #638DFF);

	&:active {
		// color: var(--gray-100) !important;
		background-color: var(--redisign-primary-active, #5883F6) !important;
	}
}

.btn.btn-danger {
	background-color: var(--danger);
	color: $white;
}

.btn-reset {
	padding: 0;
	margin: 0;
	border: 0;
	font-size: inherit;
	background-color: inherit;
}

[data-theme="dark"] {
	.btn-primary-light {
		background-color: var(--bg-dark-gray);
		box-shadow: none;
	}

	.btn-primary:active {
		color: var(--gray-900) !important;
		background-color: var(--invert-neutral) !important;
	}
}

.like-action,
.form-sidebar-items,
.standard-actions .btn {
	svg {
		rotate: 0;
		transition: .25s;
	}

	&:active {
		svg {
			rotate: 360deg;
		}
	}
}